<a href="https://colab.research.google.com/github/Cryptmenic/Programming-Tutorials/blob/master/Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.api as sm
import seaborn as sns
sns.set()

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
data = np.arange(1,101)

In [ ]:
data

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100])

In [ ]:
type(data)

numpy.ndarray

In [ ]:
data*10

array([  10,   20,   30,   40,   50,   60,   70,   80,   90,  100,  110,
        120,  130,  140,  150,  160,  170,  180,  190,  200,  210,  220,
        230,  240,  250,  260,  270,  280,  290,  300,  310,  320,  330,
        340,  350,  360,  370,  380,  390,  400,  410,  420,  430,  440,
        450,  460,  470,  480,  490,  500,  510,  520,  530,  540,  550,
        560,  570,  580,  590,  600,  610,  620,  630,  640,  650,  660,
        670,  680,  690,  700,  710,  720,  730,  740,  750,  760,  770,
        780,  790,  800,  810,  820,  830,  840,  850,  860,  870,  880,
        890,  900,  910,  920,  930,  940,  950,  960,  970,  980,  990,
       1000])

In [ ]:
new_data = [100, 20, 50, 70, 80]

In [ ]:
type(new_data)

list

In [ ]:
add_up = []

for i in new_data:
  add_up.append(i*10)
add_up

[1000, 200, 500, 700, 800]

In [ ]:
[i*10 for i in new_data]

[1000, 200, 500, 700, 800]

In [ ]:
cat =np.array([70, 60, 50, 40, 30])

In [ ]:
type(cat)

numpy.ndarray

In [ ]:
cat.dtype

dtype('int64')

In [43]:
students = ['Ada', 'Ema', 'Uduak', 'Uwem']

In [44]:
type(students)

list

In [55]:
names_s = pd.Series(students)

In [47]:
ages = [54, 67, 44, 20]

In [48]:
pd.Series(ages)

0    54
1    67
2    44
3    20
dtype: int64

In [49]:
heights = [177.4, 168.7, 177.9]

In [50]:
pd.Series(heights)

0    177.4
1    168.7
2    177.9
dtype: float64

In [51]:
mixed_data = [True, 'mama', {'Days': 7}]

In [54]:
mixed_s = pd.Series(mixed_data)

In [56]:
names_s.equals(mixed_s)

False

In [78]:
movie_names = ['A man called God', 'The walking dead', 'Scorpion']

In [80]:
movies_series = pd.Series(movie_names)

In [82]:
movies_series

0    A man called God
1    The walking dead
2            Scorpion
dtype: object

In [83]:
movies_series.name

In [86]:
movies_series == None

0    False
1    False
2    False
dtype: bool

In [87]:
movies_series.name = 'My favourite movies'

In [88]:
movies_series

0    A man called God
1    The walking dead
2            Scorpion
Name: My favourite movies, dtype: object

In [89]:
movies_series.index.name

In [90]:
movies_series.index.name == None

True

In [91]:
movies_series.index.name = 'My movies'

In [92]:
movies_series

My movies
0    A man called God
1    The walking dead
2            Scorpion
Name: My favourite movies, dtype: object

### This is a challenge

In [97]:
actors_names = ['Jim Iyke', 'Majid Michael', 'Tonto DIkeh', 'Ini Edo']

In [98]:
actor_ages = [37, 33, 30, 32]

In [104]:
actors_series = pd.Series(actor_ages)
actors_series

0    37
1    33
2    30
3    32
dtype: int64

In [105]:
actors_series = pd.Series(actor_ages, index = ['Jim Iyke', 'Majid Michael', 'Tonto Dikeh', 'Ini Edo'])

In [107]:
actors_series

Jim Iyke         37
Majid Michael    33
Tonto Dikeh      30
Ini Edo          32
dtype: int64

In [119]:
actors_series = pd.Series(actor_ages, index = actors_names, name='Actors')

In [117]:
actors_series

Jim Iyke         37
Majid Michael    33
Tonto DIkeh      30
Ini Edo          32
Name: Actors, dtype: int64

In [130]:
# To use dict to get the same result

In [145]:
actors_series = pd.Series(dict(zip(actors_names, actor_ages), name = 'My Actors'))

In [148]:
actors_series

Jim Iyke                37
Majid Michael           33
Tonto DIkeh             30
Ini Edo                 32
name             My Actors
dtype: object

In [149]:
pd.Series(range(10000))

0          0
1          1
2          2
3          3
4          4
        ...
9995    9995
9996    9996
9997    9997
9998    9998
9999    9999
Length: 10000, dtype: int64

In [156]:
int_list = pd.Series([i for i in range(80)])

In [157]:
int_list

0      0
1      1
2      2
3      3
4      4
      ..
75    75
76    76
77    77
78    78
79    79
Length: 80, dtype: int64